<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rafaxplayer.cheftools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Inicio_Activity"
            android:label="@string/app_name" />
        <activity
            android:name=".recipes.Recipes_Activity"
            android:label="@string/activity_recipes" />
        <activity
            android:name=".recipes.NewEditRecipe_Activity"
            android:label="@string/activity_newedit" />
        <activity
            android:name=".recipes.DetalleRecipes_Activity"
            android:label="@string/activity_detallerecipe" />
        <activity
            android:name=".menus.Menus_Activity"
            android:label="@string/activity_menus" />
        <activity
            android:name=".menus.MenuDetalle_Activity"
            android:label="@string/activity_detallemenu" />
        <activity
            android:name=".menus.MenuNewEdit_Activity"
            android:label="@string/activity_neweditmenu" />
        <activity
            android:name=".providers.Providers_Activity"
            android:label="@string/activity_providers" />
        <activity
            android:name=".providers.ProviderDetalle_Activity"
            android:label="@string/activity_detallesproveedor" />
        <activity
            android:name=".providers.ProviderNewEdit_Activity"
            android:label="@string/activity_newedit_provider" />
        <activity
            android:name=".Orders.Orders_Activity"
            android:label="@string/activity_orders" />
        <activity
            android:name=".Orders.OrdersDetalle_Activity"
            android:label="@string/activity_detalle_orders" />
        <activity
            android:name=".Orders.OrdersNewEdit_Activity"
            android:label="@string/activity_newedit_orders" />
        <activity
            android:name=".products.Products_Activity"
            android:label="@string/products" />
        <activity
            android:name=".tools.Tools_Activity"
            android:label="@string/activity_tools" />
        <activity
            android:name=".config.Config_Activity"
            android:label="@string/activity_config" />
        <activity
            android:name=".stocks.Stocks_Activity"
            android:label="@string/activity_stoks" />
        <activity
            android:name=".stocks.StocksNewEdit_Activity"
            android:label="@string/activity_newedit_stocks" />
        <activity
            android:name=".stocks.StocksDetalle_Activity"
            android:label="@string/activity_stoks" />
        <activity
            android:name=".escandallos.Escandallos_Activity"
            android:label="@string/activity_escandallos" />
        <activity
            android:name=".escandallos.EscandallosDetalle_Activity"
            android:label="@string/activity_escandallos"/>
        <activity
            android:name=".escandallos.EscandallosNewEdit_Activity"
            android:label="@string/activity_escandallos"/>
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recipes.GalleryRecipesActivity"
            android:label="@string/gallery_recipes"
            android:theme="@style/AppTheme" />
        <activity android:name=".recipes.GalleryDetalle_Activity" />
    </application>

</manifest>